body {
    text-align: center;
    color: aliceblue;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

table, th, td {
    border: 3px solid purple;
    text-align: center;
    border-collapse: collapse;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

.sidebar {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lavender;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidebar a:hover {
    color: indigo;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}
